{
  "name": "Template Ruleset",
  "target": "branch",
  "enforcement": "active",
  "conditions": {
    "ref_name": {
      "include": [
        "~DEFAULT_BRANCH"
      ]
    }
  },
  "rules": [
    {
      "type": "required_pull_request_reviews",
      "parameters": {
{% if not single_owner %}
        "require_code_owner_review": true,
{% else %}
        "require_code_owner_review": false,
{% endif %}
        "required_approving_review_count": 1
      }
    }
  ]
}
